.body-content {
    padding-top: 20px;    
}

@font-face {
    font-family: Scultural;
    src: url('/fonts/logo_Bungee-Regular.ttf') format('truetype');
}

#HomeLogo {
    font-family: Scultural;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI';
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}